.header h1 {
  text-align: center;
  font-family: "Optima";
  font-size: 100px;
  font-weight: lighter;
  color: #D8D8D8;
  text-shadow: 5px 5px white;
}

.box {
  background: #F2F2F2;
  height: 500px;
  width: 800px;
  margin: 0 auto;
}

.form {
  width: 500px;
  height: 300px;
}

.todo-input {
  width: 400px;
  height: 50px;
  font-size: 25px;
  margin-left: 200px;
  font-style: italic;
  box-shadow: 5px 5px 10px black;
}

::-webkit-input-placeholder {
  color: #F2F2F2;
}

.octicon octicon-chevron-down {
  color: black;
}
